<link href="css/searchform_simple.css" rel="stylesheet" type="text/css" />
<script language="javascript" src="{#CP#}js/searchform.js"></script>

<div class="globalsearchformzone">
<form id="globalsearchform" method="get" action="{#RP#}search/index.php">
   	<div class="globalsearchform">
    	<input name="key" type="text" id="globalsearchform_key" value="{#key#}" class="input" />
  	</div>
	<div class="globalsearchform1">
  		<input name="imageField" id="button" type="image" src="images/searchr.jpg" class="imgbutton" />
  	</div>
</form>
</div>
