<style>
.pw_mainc1{width:160px;height:37px;float:left;background:url(images/diy.jpg) 0px 0px no-repeat;position:relative;}
.pw_mainc2{width:160px;height:37px;float:left;background:url(images/diy.jpg) 0px -37px no-repeat;position:relative;}
.pw_mainc3{width:160px;height:37px;float:left;background:url(images/diy.jpg) 0px -74px no-repeat;position:relative;}
.pw_mainc4{width:160px;height:37px;float:left;background:url(images/diy.jpg) 0px -111px no-repeat;position:relative;}
.pw_mainc5{width:160px;height:48px;float:left;background:url(images/diy.jpg) 0px -148px no-repeat;position:relative;}
.pw_main_c2{height:100%;margin:0px;font:12px/18px 'Microsoft YaHei','SimSun',Arial,Sans-Serif;color:#505050;}
a.pw_main_c3,a.pw_main_c3:link,a.pw_main_c3:active,a.pw_main_c3:visited{height:100%;display:block;font:12px/18px 'Microsoft YaHei','SimSun',Arial,Sans-Serif;color:#ffffff; text-decoration:none}
a.pw_main_c3:hover{color:#ffffff;text-decoration:underline}
</style>
<div class="pw_mainc1">
<div class="pw_main_c2"><a href="{#RP#}product/class/?115.html" class="pw_main_c3"></a></div>
</div>
<div class="pw_mainc2">
<div class="pw_main_c2"><a href="{#RP#}product/class/?116.html" class="pw_main_c3"></a></div>
</div>
<div class="pw_mainc3">
<div class="pw_main_c2"><a href="{#RP#}product/class/?74.html" class="pw_main_c3"></a></div>
</div>
<div class="pw_mainc4">
<div class="pw_main_c2"><a href="{#RP#}product/class/?121.html" class="pw_main_c3"></a></div>
</div>
<div class="pw_mainc5">
<div class="pw_main_c2"><a href="{#RP#}product/class/?122.html" class="pw_main_c3"></a></div>
</div>