/* ============ËÑË÷±íµ¥============== */
div.globalsearchformzone{
padding:0px;
margin:0px;
height:24px;
background:url(../images/searchl.jpg) 0 0 no-repeat;
}

div.globalsearchformzone div.globalsearchform{
float:left;
padding:0px;
margin:0px;
height:24px;
font:12px/18px simsun;
color:#8c8c8c;
}

div.globalsearchformzone div.globalsearchform1{
float:right;
padding:0px;
margin:0px;
line-height:23px;
}

div.globalsearchformzone div.globalsearchform .input{
border:0px;
height:24px;
line-height:21px;
padding:0px;
margin:0px 0px 0px 60px;
color:#000;
background:transparent;
}

div.globalsearchformzone div.globalsearchform1 .imgbutton{
padding:0px;
margin:0px 0px 0px 0px;
}