<!-start->
	<link rel="stylesheet" href="css/advstarrow.css" />
	<script src="{#CP#}js/slides.min.jquery.js"></script>
	<script>
		$(function(){
			$('#tarrow_slides').slides({
				preload: true,
				preloadImage: 'images/tarrow-loading.gif',
				play: 5000,
				pause: 2500,
				hoverPause: true
			});
		});
	</script>

	<div id="tarrow_container">
		<div id="tarrow_example">
			
			<div id="tarrow_slides">
				<div class="slides_container">
<!-start->
<!-list->
					<a href='{#url#}' title='{#title#}' target='_blank'><img src='{#src#}' width='890' height='300' alt='' border='0'></a>
<!-list->
<!-end->
                </div>
				<a href="#" class="prev"><img src="images/tarrow-prev.png" border="0" width="24" height="43" alt="Arrow Prev"></a>
				<a href="#" class="next"><img src="images/tarrow-next.png" border="0" width="24" height="43" alt="Arrow Next"></a>
			</div>
			<img src="images/tarrow-frame.png" width="1002" height="371" alt="Frame" id="tarrow_frame">
		</div>
		
	</div>
<!-end->
