<!-start->
	<link rel="stylesheet" href="css/advstarrow.css" />
	<script src="{#CP#}js/slides.min.jquery.js"></script>
	<script>
		$(function(){
			$('#tarrow_slides').slides({
				preload: true,
				preloadImage: 'images/tarrow-loading.gif',
				play: 5000,
				pause: 2500,
				hoverPause: true
			});
		});
	</script>

	<div id="tarrow_container">
		<div id="tarrow_example">
			
			<div id="tarrow_slides">
				<div class="slides_container">
<!-start->
<!-list->
					<a href='{#url#}' title='{#title#}' target='_blank'><img src='{#src#}' width='980' height='330' alt='' border='0'></a>
<!-list->
<!-end->
                </div>
			</div>
		</div>
		
	</div>
<!-end->
