/* ============产品图片列表============== */

div.productpic{
margin:0px 5px 5px 0px;
text-align:center;
float:left;
}

div.productpic div.fang{
border:1px #ccc solid;
background: #fff;
padding:3px;
text-align:center;
}

div.productpic div.picFit{
overflow: hidden;
}

div.productpic div.picFit img{
}


div.productpic div.title{
text-align:center;
overflow: hidden;
white-space:nowrap;
}

div.productpic a:link,div.productlist a:visited,div.productlist a:active{
color:#555;
font:12px/25px arial,simsun;
text-decoration: none;
}

div.productpic a:hover{
color:#ff0000;
text-decoration: underline;
font:12px/25px arial,simsun;
}
