
<div style="font:12px/14px simsun">
	<a href="{#SiteUrl#}" style="color:#c7c7c7;font:12px/14px simsun;" onClick="this.style.behavior='url(#default#homepage)';this.setHomePage('{#SiteUrl#}'); return(false);"><img src="images/home.jpg" border="0" style="margin:0px 5px 0px 0px;" />设为首页</a>  
	<a href="{#SiteUrl#}" style="color:#c7c7c7;font:12px/14px simsun;padding-left:6px;" onClick="window.external.addFavorite('{#SiteUrl#}','{#sitename#}'); return(false);"><img src="images/bookmark.jpg" border="0" style="margin:0px 5px 0px 0px;" />加入收藏</a>
	  <a href="mailto:boss@mail.com" style="color:#c7c7c7;font:12px/14px simsun;padding-left:8px;"><img src="images/mail.jpg" border="0" style="margin:0px 5px 0px 0px;" />联系我们</a>
</div>

