.dropdownmenu_dolphin{
   clear:both;
   margin:0;
   white-space:nowrap;
   overflow:hidden;
   width:100%;
   height:28px;
   color:#fff;
   background:url(menubg.gif) 0px 0px repeat-x;
}

.dropdownmenu_dolphin .menuleft{
   float:left;
   height:28px;
   width:60px;
   background:url(menuleft.gif) 0px 0px no-repeat;
}

.dropdownmenu_dolphin .menuright{
   float:right;
   height:28px;
   margin:0px;
   width:7px;
   background:url(menuright.gif) 0px 0px no-repeat;
}

.dorpmenu_dolphin .menufirst{
   float:left;
   color:#fff;
   width:59px;
   height:28px;
   text-align:center;
   padding:0px;
   margin:0px 0px 0px 9px;
   background:url(menu.gif) 0px 0px no-repeat;
}
.dorpmenu_dolphin{
   float:left;
   color:#fff;
   width:79px;
   height:28px;
   text-align:center;
   padding:0px;
   background:url(menu.gif) 0px 0px repeat-x;
}

a.dorpmenu_dolphin:link,a.dorpmenu_dolphin:visited,a.dorpmenu_dolphin:active {
   color: #fff; 
   display:block;
   text-decoration: none;
   height:28px;
   font:12px/28px 'SimSun',Arial,Sans-Serif;
}

a.dorpmenu_dolphin:hover {
   color: #fff; 
   text-decoration: none;
   height:28px;
} 

a.menufirst:link,a.menufirst:visited,a.menufirst:active {
   color: #fff; 
   display:block;
   text-decoration: none;
   height:28px;
   font:12px/28px 'SimSun',Arial,Sans-Serif;
}

a.menufirst:hover {
   color: #fff; 
   text-decoration: none;
   height:28px;
}

div.subdorpmenu_dolphin{
   display:none;
   position:absolute;
}

div.subdorpmenu_dolphin ul{
   background-color:#4b4a4a;
   border:1px #151414 solid;
   border-top:0px;
   width:99px;
   color:#fff; 
}

div.subdorpmenu_dolphin ul.firstdrop{
   width:98px;
   color:#fff;
}

div.subdorpmenu_dolphin li{
   padding:0px;
   list-style-type:none;
   text-align:center; 
   height:28px;
   border-top:1px #151414 solid;
   color:#fff;
}

div.subdorpmenu_dolphin li.current{
   height:28px;
   color:#fff;
}


div.subdorpmenu_dolphin a,a.subdorpmenu_dolphin:link,a.subdorpmenu_dolphin:visited,a.subdorpmenu_dolphin:active{
   display:block;
   color:#fff; 
   text-decoration: none;
   font:12px/28px 'SimSun',Arial,Sans-Serif;
   padding-top:2px;
}

a.subdorpmenu_dolphin:hover {
   display:block;
   color:#fff; 
   text-decoration: none;
   font:12px/28px 'SimSun',Arial,Sans-Serif;
} 
