<!-start->
<link href="css/productcontent_1.css" rel="stylesheet" type="text/css" />
<script type=text/javascript src="{#CP#}js/productcontent.js"></script>

<div id="productcontent_1">
	<div class="productpics">
		<div class="piczone">
			<table align="center" cellpadding="0" cellspacing="0">
			<tr>
			<td align="center">
			<div id="productview">
				<img src="images/loading.gif" border="0" id="productloading" class="productloading">
			</div>
			</td>
			</tr>
			</table>
		</div>
		<div id="contentpages"></div>
	</div>

	<div class="introzone">
		<div id="prodtitle">{#title#}</div>
		<div id="prop">{#propstr#}</div>
		<div id="memo" class="memo" style="display:{#showmemo#}">{#memo#}</div>
	</div>
	
	<div class="bodyzone">{#body#}</div>
	
	<div class="bzone">
	<div class="source" >浏览 ({#cl#}) | <a href="{#commentutl#}">评论</a> ({#commentcount#}) | 评分({#centavg#}) | <span id="zhichi"  title="支持一票">支持(<span id="zhichinum">{#zhichi#}</span>) </span> | <span id="fandui" title="反对一票">反对(<span id="fanduinum">{#fandui#}</span>) </span> | 产品发布：<a href="{#memberurl#}">{#author#}</a>  
	  <input type="hidden" id="productid" value="{#id#}"> 
	  </div>
	<div id="addfav" class="addfav">将本产品加入收藏</div>
	<div class="tags" style="display:{#showtag#}">标签：{#tagstr#}</div>
	<div id="banzhu" class="banzhu"></div>
	</div>

</div>
<!-start->
<!-list->
{#propname#}：{#prop#}<br>
<!-list->

<!-end->
<!-end->
<!-err1-><div class="notice">当前ID不存在或尚未发布</div><!-err1->
<!-err2-><div class="notice">对不起,本内容设置了阅读权限,您无权访问当前内容</div><!-err2->
